.card-container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 1rem;
    padding-top: 24px;
    padding-left: 1rem;
    
}


.card {
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0));
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    border-radius: 8px;
    border: 2px solid black;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.3);
    cursor: pointer;
    max-width: 90%;
    height: 280px;
    transition: 150ms;
    padding: .5rem;
}

.header {
    padding: 48px;
}

.card h3 {
    font-size: 0.9em;
}

.card h4 {
    font-size: 0.8em;
    font-weight: lighter;
}

a {
    color: white;
    text-decoration: none;
    font-size: 0.8em;
    padding: 16px;
}

.card.flip {
    --rotate-y: 180deg;
}

.card .front, .card .back {
    
    font-size: 1.6em;
    backface-visibility: hidden;
}

.card .back {
    transform: rotateY(180deg);
    
}

@media (min-width: 768px) {
    .card-container {
        grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    }

    .card {
        font-size: 70%;
    }

    /* .card h1 {
        font-size: 1.6em;
    } */
} 